@import "reset";
@import "fonts";
@import "components/loader";
@import "components/datatable";
@import "components/tradedialog";
@import "components/tradescard";
@import "components/tradestotals";
@import "components/card";

html, body, #app, .app-container {
  height: 100%;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #efefef;
}

.page-content {
  padding: 10px;
}